* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
}

.wrapper {
    border: 3px solid black;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./img/tela.png');
    overflow: hidden;
}

.score {
    font-size: 100px;
    color: blue;
    top: 8%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    text-align: center;
}

.highscore {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: 900;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    
}

.countdown {
    position: absolute;
    top: 505px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: red;
}

button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: green;
    color: white;
    padding: 20px 40px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}

.game {
    width: 400px;
    height: 480px;
    margin: 30px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
}

.hole {
    flex: 1 0 33.35%;
    position: relative;
    overflow: hidden;
}

.hole::after {
    content: '';
    display: block;
    background-image: url('./img/nuvem-removebg-preview.png');
    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
    height: 70px;
    bottom: -30px;
    background-size: contain;
}

.mole {
    background-image:  url('./img/starlove-removebg-preview.png');
    position: absolute;
    top: 0px;/*-60px*/
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    background-position: bottom;
}

.mole.small {
    background-size: 30%;
}

.mole.large {
    background-size: 50%;
}

.hole.up .mole {
    top: -60px;
}